.foto-part{
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    background: linear-gradient(
        to bottom,
         var(--container-light-gray-color) 0%,
        var(--container-light-gray-color) 55%,
        var(--body-background-white-color) 100%
    );
}
.foto-part-upper-part{
    width:100%;
    position: relative;
    overflow: hidden;
    max-width:600px;
    margin:auto;
}
.bg-foto-part{
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    display: block;
}
.inner-foto-part{
     width:85%;
    max-width:500px;

    height:auto;
    position:absolute;

    top:-150px;
    left:50%;
    transform:translateX(-50%);
    overflow: hidden;
}
.foto-part-lower-part{
    width:100;
    box-sizing: border-box;
    padding-left:var(--universall-padding-left-and-right);
    padding-right:var(--universall-padding-left-and-right);
    
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.foto-part-lower-part-inner-container{
    padding-top:2rem;
    padding-bottom: 2rem;
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.foto-part-h-part{
    font-weight: 300;
       
}
.foto-part-button-part{
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    border:none;
    border-radius: 25px;
     background: linear-gradient(
        45deg,
        hsl(192, 69%, 51%),
        hsl(136, 64%, 51%)
    );
}
@media(min-width:700px){
    .foto-part{
        flex-direction: row-reverse;
        padding-left:var(--universall-padding-left-and-right-desktop);
        gap:5vw;
    }
    .foto-part-lower-part-inner-container{
    
    text-align: left;
    
    align-items: flex-start;
    
}
}